/* FOOTER */
.Footer {
	width: 100%;
	position: relative;
	height: fit-content;
	background-color: rgb(14, 14, 19);
	box-sizing: border-box;
}

.Footer a {
	text-decoration: none;
	color: white;
}

.Footer nav {
	width: 70%;
	margin: 0 auto;
}
.Footer nav ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	line-height: 1.6;
	width: 100%;
}

.Footer nav ul li:hover a, .social ul li:hover a{
	color: rgb(255, 187, 0);
}

.Footer nav ul li {
	margin-left: 10px;
	font-size: 1.2rem;
}

.Footer nav ul li:nth-child(1) {
	margin-left: 0;
}

.site__links {
	height: 80px;
}

.social ul {
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social ul li a {
	display: inline-block;
}

.social ul li{
	margin-right: 15px;
}
.social ul li:last-child {
	margin-right: 0;
}

.social a {
	font-size: 1.5rem;
}




@media screen and (min-width: 405px) {
	.site__links {
		height: 50px;
	}	
}
@media screen and (min-width: 530px) {
	.Footer nav ul li a{
		font-size: 1.6rem;	
	}	
	.site__links {
		height: 80px;
	}

	
	.Footer nav ul li {
		margin-left: 50px;
	}

	.social ul li{
		margin-right: 25px;
	}

	.social a {
		font-size: 1.8rem;
		margin-bottom: 15px;
	}
}